<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enre Bot</title>
    <link
      rel="icon"
      href="https://cdn.discordapp.com/attachments/821175757992493067/1070490600337571910/enre_lelouch_2.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body>
    <style>
      * { padding: 0; margin: 0; } html, body { height: 100%; } .background-img
      { background-image:
      url("https://cdn.discordapp.com/attachments/821175757992493067/1070490600337571910/enre_lelouch_2.png");
      background-size: cover; background-repeat: no-repeat; background-position:
      center; position: fixed; width: 100%; height: 100%; background-color:
      #553464; z-index: -1; }
    </style>
    <div class="background-img"></div>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>