<style>
  body { background-image: linear-gradient(#553464, rgb(0, 0, 0, 0,1), rgb(0, 0,
  0, 0,1)); background-color: #553464; background-size: 100%; } .content {
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  background: linear-gradient(to bottom right, #000000, #31123888);
  border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); padding: 30px;
  text-align: center; } h1 { font-size: 48px; font-weight: bold; color: #553464;
  margin-bottom: 20px; } .btn { background-color: #553464; color: #fff; border:
  none; padding: 10px 20px; font-size: 16px; cursor: pointer; border-radius:
  4px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); transition: all 0.2s
  ease-in-out; } .btn:hover { background-color: #2e1f4f; } .btn:active {
  transform: scale(0.95); }
</style>
<div class="background-img"></div>
<div class="content">
  <h1>This page is still in development!</h1>
  <button class="btn" onclick="window.location.href='/auth/discord'">Login with
    discord</button>
</div>